* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* ======Task 1====== */
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2 {
  margin: 0;
}
.title {
  margin-bottom: 16px;
}
#categories {
  display: flex;
  flex-direction: column;
  width: 344px;
  gap: 24px;
}
.item {
  background-color: rgb(228, 246, 247);
  border-radius: 10px;
  padding: 16px;
}
.subcategories {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subitem {
  border: 1px solid #8e8f99;
  border-radius: 3px;
  list-style-type: none;
  padding-left: 10px;
}
/* ======Task 2====== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 1128px;
}
.gallery li {
  width: calc((100% - 48px) / 3);
}

.gallery li img {
  display: flex;
  width: 360px;
  height: 300px;
  object-fit: cover;
}
/* ======Task 3====== */
#name-input {
  border-radius: 2px;
  border: 1px solid #b2b3b9;
  width: 360px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}
#name-input:focus {
  border-color: #4e75ff;
}
/* ======Task 4====== */
.login-form {
  display: flex;
  flex-direction: column;
}
.input {
  width: 344px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #b2b3b9;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btn {
  display: flex;
  width: 86px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #4e75ff;
  margin-top: 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
/* ======Task 5====== */
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-color {
  width: 148px;
  height: 40px;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
